*{
    margin: 0 auto;
    padding: 0 auto;
}

.contenedor{
    margin-top: 5%;
    display: flexbox;
    height: 300px;
    width: 600px;
    border: 2px solid;
    border-radius: 3px;
    background-color: rgb(236, 185, 137);
}

.titulo{
    display: flex;
    background-color: rgb(240, 137, 130);
    border: 1px solid;


}

.texto{
    margin-left: 5%;
    padding: 5%;

  
}